body  {
	margin:0;
	padding:0;
}

#Container {
	width:800px;
	height:auto;
	margin-left:300px;
	margin-right:300px;
	margin-top:10px;
	margin-bottom:10px;
}
#Header {
	height:67px;
	background-image:url(tuffah1.jpg);
	background-repeat:no-repeat;
	margin-bottom:21px;
		
}
#Nav {
	height:50px;
	background-color:#000;
}
#Content {
	height:auto;
}
#Footer {
	height:50px;
}