body  {
	margin:0px;
	padding:0px;
}

#Container {
	width:80%;
	height:auto;
	margin-left:250px;
	margin-right:300px;
	margin-top:10px;
	margin-bottom:10px;
}
#Header {
	margin-left:300px;
	margin-right:250px;
	height:67px;
	margin-bottom:50px;
		
}
#Nav {
	height:auto;
	background-color:#CCCCCC;
	margin-left:300px;
	margin-right:250px;
	margin-top:10px;
	margin-bottom:10px;
	display:inline;
}
#Content {
	height:auto;
}
#Footer {
	height:50px;
}